body {
    font-family: "Poppins", serif;
}
.primary_btn {
    border-radius: 5px;
    background-color: #FD6E0A;
     border: 0;
     color: aliceblue;
     font-weight: bold;
     padding: 15px 35px;
     font-size: 20px;
     font-family: "Poppins", serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
h3 {
    font-size: 45px;
    font-weight: 800;
}
span {
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
li a {
    text-decoration: none;
    color: #474747;
}
button {

}
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: left;
}
.des {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
}
.heading {
    max-width: 500px;
}
p {
    margin-top: 0;
}
.about {
    background-color: #FFF8F3;
    padding: 50px 100px;
    margin: 100px;
    border-radius: 10px;

}
.about_tittle {
    text-align: center;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.about_info_container {
    display: flex;
    justify-content: space-between;
}
.about_info {
    text-align: center;
    margin-bottom: 0;
}
.info_tittle {
    color: #6e6e6e;
}
.whai_i_do {
    padding: 30px 150px;
}
.i-do {
    text-align: center;
}