body {
    font-family: "Poppins", serif;
    margin: 0;
}
.primary_btn {
     border-radius: 5px;
    background-color: #FD6E0A;
     border: 0;
     color: aliceblue;
     font-weight: bold;
     padding: 15px 35px;
     font-size: 20px;
     font-family: "Poppins", serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}
h4 {
    font-size: 45px;
    font-weight: 800;
}
span {
    color: #FD6E0A;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px;
}
li a {
    text-decoration: none;
    color: #474747;
}
button {

}
.header {
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png), url(images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, top left;

}
.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
}
.des {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;
}
.title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80px;
}
.heading {
    max-width: 500px;
}
p {
    margin-top: 0;
    font-size: 16px;
}
.about {
    background-color: #FFF8F3;
    padding: 50px 100px;
    margin: 100px 100px 0 100px;
    border-radius: 10px;

}
.about_tittle {
    text-align: center;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}
.about_info_container {
    display: flex;
    justify-content: space-between;
}
.about_info {
    text-align: center;
    margin-bottom: 0;
}
.info_tittle {
    color: #6e6e6e;
}
.whai_i_do {
    padding: 30px 150px;
 

}
.what_do {
    text-align: center;
    padding: 30px 150px;
}
.info_tittle > h4 {
    font-size: 20px;
}
.skills_description  p {
    font-size: 12px;
}
.about_description {
    text-align: center;
}
.skill_cont {
    display: flex;
    margin-top: 50px;
    padding: 0;
    gap: 24px;
    background: white;
    ;
}
.skills {
    padding: 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.logo {
    font-size: 45px;
}
.resume {
    margin: 100px 0;
}
.my_summary {
    text-align: center;
    margin-bottom: 50px;
}
.resume_list {
    display: flex;
    gap: 30px;
}
.edu_des {
    color: #6e6e6e;
}

.edu_details {
    color: #6e6e6e;
}
.download_cv {
    text-align: center;
    margin: 50px 0;
}
footer {
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 230px;
    gap: 50px;
}
.footer_column {
    width: 50%;
}
.social_link a {
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea {
    display: block;
    background-color: #FFF;
    border: 0;
    margin-bottom: 25px;
    padding: 18px 35px;
    width: 70%;
    border-radius: 7px;
}
